<!doctype html>
<html lang="en">
    <head>
        <title>Redux</title>
        {% block meta_tags %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ auto_version('static', filename='css/skeleton.css') }}" />
        <link rel="stylesheet" type="text/less" href="{{ auto_version('static', filename='css/base.less') }}" />
        {% block styles %}{% endblock %}
        <script type="text/javascript" src="{{ auto_version('static', filename='js/less.js') }}"></script>
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block header %}
        <div class="ribbon"></div>
        <div class="header">
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.7.min.js"%3E%3C/script%3E'))</script>
        {% block scripts %}{% endblock %}
    </body>
</html>
